body {
  text-align: center;
  background-image: linear-gradient(white, black, white);
}

ul {
  list-style-type: none
}
li, img, a {
  line-height: 2.5;
}

li, em, p {
  font-size: 25px;
  font-style: normal;
  color: magenta
}

a {
  font-size: 20px;
  font-weight: bolder;
}
